/*footer*/

footer{
    grid-area: footer;
    padding: 10px 20px;
    text-align: center;
    background-color: $fondo-footer;
    .redes{
        display: flex;
        justify-content: center;
        gap: 100px;
    }
    div {
        padding: 10px;
        p{
            padding-top: 20px;
        }
    }
}